.formbox{
        h1{
            text-align: center;
            margin: 2vh;
        }
        margin: 5vh auto;
        border: 1px solid gray;
        height: 100%;
        width: 40%;
        padding: 10px;
        border-radius: 10px;
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center ;
            gap: 15px;
            input,select{
                width: 40%;
                padding: 10px;
                border-radius: 15px;
            }
            
            button{
                width: 20%;
                padding: 8px;
                border-radius: 15px;
                background-color: greenyellow;
            }
        }
    }

    .users{
        h1{
            text-align: center;
            padding: 10px;
        }
        table{
            margin: auto;
            border: 1px solid black;
            border-radius: 10px;
            thead{
                tr{
                    background-color: aqua;
                    th{
                        padding: 2vh;
                    }
                }
            }
            tbody{
                padding: 1vh 1vw;
                text-align: center;
                tr{
                    td{
                        padding: 2vh 2vw;
                    }
                    &:nth-child(even){
                        background-color: rgb(196, 246, 229);
                    }
                    &:nth-child(odd){
                        background-color: rgb(131, 244, 206);
                    }
                    button{
                        border: none;
                        background: none;
                
                        color: red;

                        &:hover{
                            box-shadow: 5px 5px 20px red;
                        }
                    
                    }
                }
            }
            
        }
    }