.products{
    h1{
        text-align: center;
    }
    .category{
        width: 100vw;
        ul{
            list-style: none;
            display: flex;
            li{
                margin: auto;
                button{
                    border: none;
            padding: 1vh 1vw;
            border-radius: 10px;
            &:hover{
                background-color: skyblue;
                color: black;
            }
                }
            }

        }
    }
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    .card{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* border: 1px solid gray; */
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1vh 1vw;
        height: 40vh;
        width: 20%;
        gap: 10px;
        /* object-fit: cover; */
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        &:hover img{
            transform: scale(1.1);
            transition: all ease-in 0.3s;
        }
        img{
            height: 50%;
            width: 30%;
        }

        button{
            border: none;
            padding: 1vh 1vw;
            border-radius: 10px;
             
                background-color: greenyellow;
                color: black;
            
                 
        }
        .info{
            display: flex;
            gap: 20px;
            button{
            border: none;
            padding: 1vh 1vw;
            text-align: center;
            border-radius: 10px;
            background-color: aquamarine;
            &:hover{
                background-color: skyblue;
                color: black;
            }
            .icon{
                display: flex;
                justify-content: center;
                
            }
            &:nth-last-child(){
                background-color: ref;
            }
                 
        }
        }

        &:hover{
            box-shadow: 0px 0px 20px gray;
            background-color:aliceblue;
        }
    }
}

.viewmore{
    h1{
        text-align: center;
    }
    padding: 2vh 0;
    .icon{
        position: relative;
        left: 1000px;
    }
    .card{
        margin: 2vh auto;
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        /* border: 1px solid gray; */
        border-radius: 10px;
        /* justify-content: center; */
        /* align-items: center; */
        padding: 1vh 1vw;
        height: 80vh;
        width: 70%;
        gap: 10px;
        /* object-fit: cover; */
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        
        img{
            margin: auto 2vw;
        height: 85%;
        width: 40%;

    }
        .info{
            display: flex;
            flex-direction: column;
            margin: 5vh;
            justify-content: center;
            /* align-items: center; */

            gap: 30px;
        
        button{
            border: none;
            padding: 1vh 1vw;
            border-radius: 10px;
            background-color: greenyellow;
            color: black;
            width: fit-content;
            
                 
        }
        p{
            font-size: 15px;
            letter-spacing: 1px;
            word-spacing: 2px;
            span{
                font-size: 20px;
                font-weight: bold;
            }
        }
        }
        &:hover img{
            transform: scale(1.1);
            transition: all ease-in 0.3s;
        }
    }
}